.shedule {
  display       : grid;
  grid-template : 1fr / 1fr 1fr;
  grid-gap      : 28px;
  width         : 810px;
  height        : 340px;
  margin        : 30px auto;
  @media (max-width : 830px) {
    width         : 390px;
    height        : auto;
    grid-template : 1fr 1fr / 1fr;
  }
}
.xxx{
    background-color: #fff;
}